.heading {
    height: 12vh;
    background-color: #3c58a1;
    border: 4px black solid;
    display: flex;
    align-items: center;
    border-radius: 25px;
}
h1 {
    color: white; 
    padding: 2vh;
}
.navigation {
    width: 12vw;
    display: inline-block;
}
.body {
    float: right;
    width: 86vw;
    display: inline-block;
}
.pagetitle {
    text-align: center;
    color: #3c58a1;
    font-size: 24px;
}
#button {
    height: 10vh;
    background-color: #3c58a1;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px black solid;
    border-left: 4px black solid;
    border-right: 4px black solid;
    border-bottom: 4px black solid;
    border-radius: 25px;
    margin-top: 6px;
}
a:hover, a:visited:hover {
    color: #61b7cf;
    text-decoration: underline;
}
a, a:visited {
    color: white;
    font-size: 17px;
    text-decoration: none;
}
#inlinks:hover, #inlinks:visited:hover {
    color: #3c58a1;
    font-size: 15px;
}
#inlinks, #inlinks:visited {
    color: black;
    font-size: 15px;
}
@media (max-width: 1000px) {
    .navigation {
        width: 95vw;
    }
    .heading {
        width: 94vw;
    }
    .body {
        width: 95vw;
        padding-bottom: 5vh;
    }
}
