body {background-color: #706251; text-align: center; }
.tabs {background-color: #87CEFA; overflow: hidden; }
.tabs a {float: left; color: white; text-align: center; padding: 14px 16px; font-size: 20px; }
.tabs a:hover {background-color: #8B4513; }
.tabs a:visited {color: white; }
.image {width: 50%; float: left; }
.information {width: 50%; float: right; color: #87CEFA; }
